## tools for data science

note book for assignment of tools for data science

## popular language for data science :

python

R

SQL

C++

Scala

java

## popular librarries for data science:

numpy

panadas

scipy

matplotlib

scikit-learn

seaborn 

keras

.
.
.

|data science tools|
|----|
|apache|
|hadoop|
|tensorflow|

# example for calculation

In [7]:
# multiply numbers
(2 * 3) + 4

10

In [8]:
# convert minus to hour
(320 / 60)

5.333333333333333

### __objective__

- Create a markdown cell with a table of Data Science tools

- Create a markdown cell introducing arithmetic expression examples

- Create a code cell to multiply and add numbers

- Create a code cell to convert minutes to hours

## author
Reza Farnaghi